.container {
  min-width: 30%;
  border-radius: 15px;

  color: #fff;

  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(5px);

  padding: 35px 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
