.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  width: fit-content;
}

.output {
  width: 100%;
  overflow: hidden;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2px;

  div {
    display: flex;
    gap: 2px;
  }
}
